/*主页*/
.index .index-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #eee;
}
.index .index-search input {
    float: left;
    width: 94%;
    height: 26px;
    margin: 7px 3%;
    text-indent: 10px;
    line-height: 26px;
}
.index .index-content {
    overflow: scroll;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
}
.index .shop {
    margin-bottom: 15px;
    background-color: #fff;
}
.index .shop .shop-name {
    height: 40px;
    margin: 0 3%;
    border-bottom: 1px dashed #000;
}
.index .shop .shop-name h1 {
    float: left;
    height: 100%;
    font-size: 20px;
    line-height: 40px;
}
.index .shop .shop-name .tel {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: pink url(../icon/tel.png) no-repeat center;
    background-size: 20px 20px;
    border-radius: 50%;
}
.index .shop .shop-info {
    width: 94%;
    height: 130px;
    margin: 10px 3%;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px #000;
}
.index .shop .shop-info-top {
    position: relative;
    height: 55px;
    background-color: pink;
}
.index .shop .shop-info-top .portrait {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 999;
}
.index .shop .shop-info-top h1 {
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: 16px;
}
.index .shop .shop-info-top h2 {
    position: absolute;
    top: 35px;
    left: 80px;
}
.index .shop .shop-info-bottom {
    position: relative;
    height: 45px;
    background-color: #fff;
    border-bottom: 1px dashed #000;
}
.index .shop .shop-info-bottom h1 {
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.index .shop .shop-info-bottom .subscribe {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 50px;
    height: 20px;
    border: 1px solid pink;
    text-align: center;
    line-height: 20px;
}
.index .shop .shop-info-more {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #fff;
    text-indent: 10px;
    line-height: 30px;
}

/*理发师主页*/
.barber {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
}
.barber .banner {
    position: relative;
    height: 100px;
    background-color: pink;
}
.barber .banner .banner-pic {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.barber .banner h1 {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.barber .date {
    height: 45px;
    background-color: #fff;
}
.barber .date .date-list {
    float: left;
    width: 14.28%;
    height: 100%;
}
.barber .date .date-list h1 {
    height: 50%;
    text-align: center;
    line-height: 25px;
}
.barber .date .date-list h2 {
    height: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
.barber .date .date-active {
    color: pink;
    box-shadow: 0px 1px pink;
}
.barber .time {
    overflow: scroll;
    position: fixed;
    top: 145px;
    bottom: 45px;
    left: 0;
    right: 0;
}
.barber .time .time-con .timeTitle {
    height: 30px;
    padding: 10px 0 0;
}
.barber .time .time-con .timeTitle span {
    float: left;
    width: 42%;
    height: 1px;
    margin-top: 15px;
    background-color: #999;
}
.barber .time .time-con .timeTitle span:nth-last-child(1) {
    float: right;
    width: 42%;
    height: 1px;
    background-color: #999;
}
.barber .time .time-con .timeTitle em {
    float: left;
    width: 16%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.barber .time .time-con .time-info {
    padding: 10px;
}
.barber .time .time-con .time-info li {
    float: left;
    width: 15%;
    height: 25px;
    margin: 5px 2.5%;
    background-color: #fff;
    box-shadow: 1px -1px #999,
               -1px 1px #999;
    text-align: center;
    line-height: 25px;
}
.barber .time .time-con .time-info .time-active {
    color: pink;
    box-shadow: 1px -1px pink,
               -1px 1px pink;
}
.barber .confirm {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #fff;
}
.barber .confirm .confirm-info {
    float: left;
    height: 100%;
    padding-left: 20px;
    line-height: 45px;
}
.barber .confirm .confirm-info span {
    margin-right: 5px;
}
.barber .confirm .confirm-btn {
    float: right;
    width: 100px;
    height: 100%;
    background-color: pink;
    color: #fff;
    text-indent: 5px;
    letter-spacing: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
}
.barber .barber-mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}
.barber .barber-mask .mask-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 300px;
    background-color: #fff;
    box-shadow: 0px 1px 5px #000;
}
.barber .barber-mask h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    box-shadow: 0px 1px #999;
    text-indent: 10px;
    line-height: 40px;
    z-index: 999;
}
.barber .barber-mask .projects {
    overflow: scroll;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 10px;
}
.barber .barber-mask .projects li {
    float: left;
    height: 25px;
    padding: 0 5px;
    margin: 10px 3%;
    background-color: #fff;
    box-shadow: 1px -1px #999,
               -1px 1px #999;
    text-align: center;
    line-height: 25px;
}
.barber .barber-mask .projects .projects-active {
    color: pink;
    box-shadow: 1px -1px pink,
               -1px 1px pink;
}
.barber .barber-mask .mask-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}
.barber .barber-mask .mask-bottom .cancel {
    float: left;
    width: 50%;
    height: 100%;
    box-shadow: 0px 1px #eee inset;
    text-align: center;
    line-height: 40px;
}
.barber .barber-mask .mask-bottom .mask-confirm {
    float: right;
    width: 50%;
    height: 100%;
    background-color: pink;
    text-align: center;
    line-height: 40px;
}

/*门店主页*/
.store .bigpic {
    width: 100%;
}
.store .bigpic img {
    float: left;
    width: 100%;
}
.store .store-content {
    overflow: scroll;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
}
.store .barberList {
    margin-bottom: 15px;
    background-color: #fff;
}
.store .barberList .barberList-name {
    height: 40px;
    margin: 0 3%;
    border-bottom: 1px dashed #000;
}
.store .barberList .barberList-name h1 {
    float: left;
    height: 100%;
    font-size: 20px;
    line-height: 40px;
}
.store .barberList .barberList-name .tel {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: pink url(../icon/tel.png) no-repeat center;
    background-size: 20px 20px;
    border-radius: 50%;
}
.store .barberList .barberList-info {
    width: 94%;
    height: 130px;
    margin: 10px 3%;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px #000;
}
.store .barberList .barberList-info-top {
    position: relative;
    height: 55px;
    background-color: pink;
}
.store .barberList .barberList-info-top .portrait {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 999;
}
.store .barberList .barberList-info-top h1 {
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: 16px;
}
.store .barberList .barberList-info-top h2 {
    position: absolute;
    top: 35px;
    left: 80px;
}
.store .barberList .barberList-info-bottom {
    position: relative;
    height: 45px;
    background-color: #fff;
    border-bottom: 1px dashed #000;
}
.store .barberList .barberList-info-bottom h1 {
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.store .barberList .barberList-info-bottom .subscribe {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 50px;
    height: 20px;
    border: 1px solid pink;
    text-align: center;
    line-height: 20px;
}
.store .barberList .barberList-info-more {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #fff;
    text-indent: 10px;
    line-height: 30px;
}

/*登录页面*/
.login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.login #logo img {
    width: 50%;
    margin: 5% 25% 0 25%;
}
.login .title {
    width: 100%;
    height: 95px;
    color: #000;
    font-size: 16px;
    letter-spacing: 10px;
    text-indent: 10px;
    text-align: center;
    line-height: 95px;
}
.login #login-dialog {
    width: 74%;
    margin: 0 auto 20px;
    background-color: #fff;
}
.login #user {
    height: 46px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.login #password {
    height: 46px;
    border: 1px solid #ddd;
}
.login #user input,
.login #password input {
    float: right;
    width: 95%;
    height: 26px;
    margin-top: 10px;
    line-height: 25px;
}
.login #user input::-webkit-input-placeholder,
.login #password input::-webkit-input-placeholder {
    color: #999;
}
.login #login-button {
    width: 74%;
    height: 45px;
    margin: 0 auto 10px;
    background-color: pink;
    color: #fff;
    font-size: 16px;
    letter-spacing: 10px;
    text-indent: 10px;
    text-align: center;
    line-height: 45px;
}
.login #registration-button {
    float: left;
    width: 74%;
    height: 45px;
    margin: 0 13% 10px;
    background-color: #fff;
    box-shadow: 1px 1px pink inset,
                -1px -1px pink inset;
    color: pink;
    font-size: 16px;
    letter-spacing: 10px;
    text-indent: 10px;
    text-align: center;
    line-height: 45px;
}
.login .error {
    height: 30px;
    color: #f00;
    line-height: 30px;
}

/*注册页面*/
.registration #logo img {
    width: 50%;
    margin: 5% 25% 0 25%;
}
.registration .title {
    width: 100%;
    height: 95px;
    color: #000;
    font-size: 16px;
    letter-spacing: 10px;
    text-indent: 10px;
    text-align: center;
    line-height: 95px;
}
.registration #registration-dialog {
    width: 74%;
    margin: 0 auto 20px;
    background-color: #fff;
}
.registration #user {
    height: 46px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.registration #password {
    height: 46px;
    border: 1px solid #ddd;
}
.registration #user input,
.registration #password input {
    float: right;
    width: 95%;
    height: 26px;
    margin-top: 10px;
    line-height: 25px;
}
.registration #user input::-webkit-input-placeholder,
.registration #password input::-webkit-input-placeholder {
    color: #999;
}
.registration #registration-button {
    float: left;
    width: 74%;
    height: 45px;
    margin: 0 13% 10px;
    background-color: pink;
    color: #fff;
    font-size: 16px;
    letter-spacing: 10px;
    text-indent: 10px;
    text-align: center;
    line-height: 45px;
}
.registration .error {
    height: 30px;
    color: #f00;
    line-height: 20px;
}